@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root 
{
  --green: #88f3b1;
  --black: #fff;
  --light-color: #ddd;
  --bg-color: #141414;
  --border: .1rem solid rgba(0,0,0,.4);
  --box-shadow: .4rem .4rem 1rem #111, 
                -.4rem -.4rem 1rem #333;
  --box-shadow-inset: .4rem .4rem 1rem #111 inset, 
                -.4rem -.4rem 1rem #333 inset;
  --ai-bg: #40414F;  
  --form: #40414F; 
  --app: #33333d;   
  --borderline: #222;   
  --text-color: #dcdcdc;  
  --text-color-2: #6b6b6b;  
  --button-hover: #202123;
  --menu-btn: #fff;  
}

html::-webkit-scrollbar {
  width: .8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #7c7c7c;
  border-radius: 5rem;
}
html::-webkit-scrollbar-thumb:hover {
  background: #ebebeb;
  border-radius: 5rem;
}


*
{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: .2s linear;
}

html 
{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;

}

body 
{
  background: var(--bg-color);
  padding-left: 30rem;
}
body.active 
{
  --ai-bg: #e7e8eb;  
  --form: #ffffff; 
  --app: #ffffff;   
  --borderline: #adadad;   
  --text-color: hsl(0, 0%, 13%);                
  --menu-btn: #111;  
  
}

.header 
{
  position: fixed;
  font-family: 'Roboto', sans-serif;
  top: 0;
  left: 0;
  z-index: 1000;
  background: var(--bg-color);
  width: 30rem;
  border-right: var(--box-shadow);
  height: 100%;
  padding: 2rem;
  text-align: center;
}

.header .logo img
{
  margin: 1rem 0;
  border: 1rem solid transparent;
  height: 5rem;
  width: 5rem;
}

.header .logo h3 
{
  color: var(--black);
  font-size: 2rem;
  margin-bottom: .5rem;
}

.header .logo p
{
  color: #00ffcd;
  font-size: 1.2rem;
}

.header .navbar 
{
  padding-top: 1rem;
}

.header .navbar a
{
  margin: 1.7rem auto;
  padding: 1rem 8.5rem;
  font-size: 1.4rem;
  border-radius: 5px;
  color: var(--black);
  background: var(--bg-color);
  border: .1px solid #4d4d4f;
}

.header .navbar a:hover 
{
  background: rgba(255, 255, 255, 0.1);
  color: var(--black);
}
.header .navbar button
{
  display: flex;
  margin: 1.7rem auto;
  padding: 1rem 8rem;
  border-radius: 5px;
  font-size: 1.4rem;
  color: var(--black);
  cursor: pointer;
  background: var(--bg-color);
  border: .1px solid #4d4d4f;
}

.header .navbar button i 
{
  margin-right: 1rem;
}

.header .navbar a i 
{
  margin-right: .5rem;
}

.header .navbar button:hover 
{
  background: rgba(255, 255, 255, 0.1);
  color: var(--black);
}



#menu-btn 
{
  position: fixed;
  z-index: 1001;
  top: 1.5rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  color: var(--menu-btn);
  display: none;
}

#theme-toggler
{
  position: fixed;
  z-index: 1001;
  bottom: 1.4rem;
  left: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  font-size: 1.4rem;
  cursor: pointer;
  text-align: center;
  color: var(--black);
  border: .5px solid #6b6b6b;
}


#theme-toggler:hover
{
  background: rgba(255, 255, 255, 0.1);
  color: var(--black);
}

.text 
{
  text-align: center;
  font-size:2rem;
  font-weight: 100;
  color: var(--green);
  margin: 1rem 0;
}

/*jjjjjjjjjjjjjjjjjjjjjjjj*/

#app {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: var(--app);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



#chat_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 20rem;
  overflow-y: auto;
  height: 70vh;
  scroll-behavior: smooth;  
}
.chat {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  padding: 2rem 17rem;
}

.ai {
  background: var(--ai-bg);
  border-top: .5px solid var(--borderline);
}

.profile {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: orange;
  margin-right: 10px;
}

.ai .profile {
  background: #10a37f;
}

.message {
  flex: 1;

  color: var(--text-color);
  font-size: 1.5rem;
  line-height: 3rem;
  max-width: 100%;
  white-space: pre-wrap;
}

.profile img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

form {
  position: fixed;
  bottom: 20px;
  width: 800px;
  margin-bottom: 1.5rem;
  padding: 10px;
  background: var(--form);
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 5px;
  border: .5px solid var(--borderline);
  box-shadow: #000 0px 500px 600px 600px;
}

textarea {
  width: 100%;
  color: var(--text-color);
  font-size: 1.5rem;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
  resize: vertical;
}

.wrapper {
  width: 100%;
}


textarea::-webkit-scrollbar {
  width: .8rem;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 5rem;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 25px;
  height: 25px;
  margin-right: 1rem;
  padding: .4rem;
  border-radius: 5px;
}
form img:hover {
  background: var(--button-hover);
}
/*jjjjjjjjjjjjjjjjjjjjjjjj*/



#click_to_convert img
{
  height: 25px;
  width: 20px;
  position: fixed;
  bottom: 5rem;
  left: 400px;
  padding: .3rem;
  border-radius: 5px;
}

#click_to_convert img:hover {
  background: var(--button-hover);
}

.last-mess
{
  text-align: center;
  color: #9a9b9a;
  font-size: 1.3rem;
  font-weight: 100;
  bottom: .5rem;
  position: fixed;
  padding: .5rem;
  border-radius: 5px;
}


.reset-btn .fa-repeat
  {
    display:none;
  }





















/* @media queries */


@media (max-width: 1050px) {
  .chat {
    padding: 2rem 4rem;
  }
  form {
    width: 600px;
    margin-bottom: 3rem;
  }
  #click_to_convert img
{
  bottom: 4.5rem;
  left: 320px;
  display: none;
}

}


@media (max-width: 991px) {
  html{
    font-size: 58.5%;
  }

  body 
  {
    padding-left: 0;
  }

  .header 
  {
    left: -110%;
    width: 100vw;
  }

  .header.active 
  {
    left: 0%;
    transition: .4s linear;
    width: 100vw;
  }

  #menu-btn 
  {
    display: initial;
    top: 0px;
    left: 0px;
  }

  #chat_container {
    width: 100%;
    margin-top: 40px;
  }

  #theme-toggler
  {
    display: none;
  }
  .chat {
    padding: 1rem 2rem;
  }
  #click_to_convert img
  {
    bottom: 5rem;
    left: 110px;
    display: none;
  }

  .reset-btn
  {
    position: fixed;
    height: 40px;
    width: 100%;
    background: #202123;
    border-bottom: .5px solid #5c5d6b;
    align-items: center;
  }

  .reset-btn .fa-repeat
  {
    color: #fff;
    position: fixed;
    top: 15px;
    right: 12px;
    font-size: 1.7rem;
    cursor: pointer;
    display: block;
  }
  
}

@media (max-width: 500px) {
  html{
    font-size: 58.5%;
  }
  .header 
  {
    width: 100%;
    border-right: 0;
  }
  form {
    width: 90%;
    margin-bottom: 3rem;
  }
  #click_to_convert img
  {
    bottom: 5.5rem;
    left: 50px;
    display: none;
  }
}
